@media screen and (min-width: 425px) {
  .header-container {
    width: 325px;
  }
  .footer-description ul {
    columns: 2;
  }
}

@media screen and (min-width: 500px) {
  .header-container {
    width: 445px;
  }
  .desktop-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .grey-bar {
    width: 50%;
  }
  .green-bar {
    width: 25%;
  }
  .carousel .image {
    height: 180px;
  }
}

@media screen and (min-width: 700px) {
  .header-container {
    width: 530px;
  }
  .footer-contacts {
    flex-direction: column;
  }
  .grey-bar {
    width: 35%;
  }
  .green-bar {
    width: 15%;
  }
  .carousel .image {
    height: 200px;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    width: 720px;
  }
  .header-search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-search-bar input {
    width: 220px;
    height: 46px;
    padding: 15px;
    background: #ececec;
    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 4px;
  }
  .header-search-bar button {
    width: 80px;
    height: 46px;
    border-radius: 0px 4px 4px 0px;
    background: #a4bebf;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .carousel .image {
    height: 235px;
  }
}

@media screen and (min-width: 900px) {
  .header-container {
    width: 800px;
  }
  .header-search-bar input {
    width: 290px;
  }
  .header-search-bar button {
    width: 85px;
  }
}

@media screen and (min-width: 1024px) {
  .header-container {
    width: 950px;
  }
  .header-search-bar input {
    width: 380px;
    height: 46px;
  }
  .header-search-bar button {
    width: 140px;
    height: 46px;
  }
  .header-nav-bar-menu {
    width: 950px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-nav-bar-menu a {
    color: #404040;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
  }
  #mobile-menu-icon {
    display: none;
  }
  .footer-newsletter {
    padding: 35px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-newsletter img {
    display: block;
  }
  .footer-newsletter input {
    width: 260px;
  }
  .footer-contacts {
    padding: 25px 20px;
    display: flex;
    flex-flow: unset;
  }
  .footer-description ul {
    columns: unset;
  }
  .grey-bar {
    width: 100%;
  }
  .green-bar {
    width: 10%;
  }
  .footer-social-medias {
    padding: 0;
    align-items: flex-start;
  }
  .carousel .image {
    height: 290px;
  }
}

@media screen and (min-width: 1250px) {
  .header-container {
    width: 1080px;
  }
  .header-search-bar input {
    width: 468px;
  }
  .header-nav-bar-menu {
    width: 1080px;
  }
  .grey-bar {
    width: 80%;
  }
  .green-bar {
    width: 5%;
    height: 3px;
  }
  .footer-contacts {
    padding: 25px 80px;
  }
  .footer-newsletter button {
    width: 200px;
  }
  .carousel .image {
    height: 330px;
  }
}

@media screen and (min-width: 1440px) {
  .header-container {
    width: 1250px;
  }
  .header-nav-bar-menu {
    width: 1250px;
  }
  .footer-contacts {
    justify-content: space-between;
  }
  .footer-helper-content {
    width: 250px;
  }
  .footer-social-medias {
    width: 270px;
  }
  .carousel .image {
    height: 375px;
  }
}

@media screen and (min-width: 1700px) {
  .header-container {
    width: 1440px;
  }
  .header-nav-bar-menu {
    width: 1440px;
  }
  .carousel .image {
    height: 500px;
  }
}
