/* -------- HEADER -------- */
.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-container {
  width: 290px;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #cfcfcf;
}
.header-search-bar {
  display: none;
}
.header-user-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}
.desktop-icon {
  display: none;
}
.header-nav-bar-menu {
  display: none;
}
/* -------- HEADER -------- */
/* -------- CART -------- */
.cart-wrapper {
  display: flex;
  align-items: center;
  gap: 3px;
}
#cart-items {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
}

/* -------- CART -------- */

/* -------- MAIN SLIDER -------- */

/* -------- MAIN SLIDER -------- */

/* -------- PRODUCT SLIDER -------- */
.product-slider-container {
  max-width: 1200px;
  width: 95%;
}
.product-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-title {
  font-size: 18px;
}
.slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
.scrollbar-track {
  position: relative;
  height: 2px;
  width: 100%;
  background: #cfcfcf;
  border-radius: 4px;
}
.scrollbar-track:hover {
  height: 4px;
}
.scrollbar-thumb {
  position: absolute;
  height: 100%;
  width: 50%;
  background: #a4bebf;
  border-radius: inherit;
  cursor: grab;
}
.scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}
.scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}
.product-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  overflow-x: auto;
  scrollbar-width: none;
}
.product-list::-webkit-scrollbar {
  display: none;
}
.product-slider-container {
  position: relative;
}
.product-slider-btn {
  top: 35%;
  position: absolute;
  cursor: pointer;
  transform: translateY(-50%);
}
.product-slider-btn:hover {
  filter: invert(1);
}
.product-slider-btn#prev-slide {
  display: none;
}
.product-slider-btn#next-slide {
  right: -20px;
}
/* -------- PRODUCT SLIDER -------- */
